# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](images/python.png)


Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [2]:
edad = 39

display(edad)

39

In [3]:
type(edad)   # para ver tipo de dato

int

In [4]:
type(0)

int

In [5]:
type(80)

int

In [6]:
type(-4)

int

## Números reales (float)

In [7]:
temp = 39.6

temp

39.6

In [8]:
type(temp)

float

In [9]:
type(3.1415926535)

float

In [10]:
type(-1.234)

float

In [11]:
type(0.45)

float

In [12]:
type(.45)

float

In [13]:
.45

0.45

In [14]:
type(20.)

float

In [15]:
20.

20.0

In [16]:
float(edad)

39.0

In [17]:
int(3.1415)

3

In [18]:
int(3.9)

3

## Números complejos (complex)

In [19]:
1j  # i

1j

In [20]:
4 + 3j

(4+3j)

In [21]:
type(6+1j)

complex

## Operaciones básicas

In [22]:
# suma

3 + 4

7

In [23]:
3.7 + 9

12.7

In [24]:
suma = 3 + 8

suma

11

In [25]:
# resta 

3 - 4

-1

In [26]:
3 - 5

-2

In [27]:
48.9 - temp

9.299999999999997

In [28]:
# multiplicacion

3 * 5

15

In [29]:
4 * 9.5644

38.2576

In [30]:
suma * temp

435.6

In [31]:
# division

3 / 7

0.42857142857142855

In [32]:
7 / 0.16

43.75

In [33]:
7 / 0

ZeroDivisionError: division by zero

In [34]:
# division entera

20 / 3

6.666666666666667

In [35]:
int(20 / 3)

6

In [36]:
20 // 3

6

In [37]:
# modulo (resto de la division)

20 % 3

2

In [40]:
%ls

1.0 - Asistentes LLMs.ipynb     1.3 - Git.ipynb*
1.1 - Bash.ipynb*               2.1 - Intro Python.ipynb*
1.2 - Entornos virtuales.ipynb* images/

In [41]:
# jerarquia de operaciones

2 + 5 * 3

17

In [42]:
(2 + 5) * 3

21

In [43]:
# potencia/raiz

2 ** 3

8

In [44]:
3 ** (1+2+3)

729

In [45]:
2 ** (1/2)

1.4142135623730951

In [46]:
2 ** 0.5

1.4142135623730951

In [47]:
# conversiones

abs(-4)   # valor absoluto

4

In [48]:
int(3.963547)   # conversion a entero

3

In [49]:
float(7)    # conversion a float

7.0

In [53]:
type(float('3.54353634'))

float

In [54]:
round(5.124)

5

In [55]:
round(5.624)

6

In [56]:
type(round(5.17))

int

In [59]:
round(5.520897548753876583746, 4)   # 4 decimales

5.5209

In [61]:
int(1+1j)

TypeError: can't convert complex to int

In [62]:
import math

In [64]:
#help(math)

In [65]:
math.floor(8.98574)

8

In [67]:
math.ceil(8.98574)

9

In [68]:
math.sqrt(2)

1.4142135623730951

In [69]:
math.log10(100)

2.0

## Booleanos

In [71]:
bool(0)

False

In [72]:
bool(1)

True

In [73]:
True

True

In [74]:
False

False

In [75]:
bool(0.645645646)

True

In [76]:
True == False

False

In [77]:
0.5 == .5

True

In [78]:
50 < 100

True

In [79]:
50 >= 100

False

In [80]:
not True

False

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [85]:
not (False and True)

True

In [86]:
(not False) or (not True)

True

## Valores nulos (None)

In [88]:
print(None)

None

In [89]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [90]:
nombre = 'Pepe'

nombre

'Pepe'

In [91]:
type(nombre)

str

In [92]:
type('hola')

str

In [93]:
# cuidado con las comillas

"hola"

'hola'

In [94]:
'hola'

'hola'

In [96]:
"Moe's"

"Moe's"

In [98]:
'2"'

'2"'

In [99]:
# esto es un comentario de una linea

In [102]:
'''
Esto es unm comentario multilinea
'''

3

3

In [103]:
parrafo = '''
Esto es una string multilinea
'''

In [108]:
parrafo

'\nEsto es una string multilinea\n'

In [109]:
'usuario/carpeta/archivo.csv'  # ruta Mac-linux, la barra del 7

'usuario/carpeta/archivo.csv'

In [110]:
r'C:\usuario\carpeta'   # r delante significa raw (en crudo), la barra del º

'C:\\usuario\\carpeta'

In [111]:
print('hola, estoy en : \n Ironhack')

hola, estoy en :
 Ironhack

In [112]:
print('hola, estoy en : \t Ironhack')  # \t es el tabulador

hola, estoy en : 	 Ironhack

In [113]:
# operaciones con strings

'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [114]:
'hola' + '2'

'hola2'

In [116]:
'hola' * 4

'holaholaholahola'

In [117]:
'hola' * 4.34

TypeError: can't multiply sequence by non-int of type 'float'

In [118]:
'hola' - 'h'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [119]:
'hola' / 4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [121]:
a = 3

a += 2   # a = a+2

a

5

In [122]:
a = 3

a -= 2   # a = a-2

a

1

In [123]:
a = 3

a *= 2   # a = a*2

a

6

In [124]:
a = 3

a /= 2   # a = a/2

a

1.5

In [126]:
# formateo de strings

num = 42

'Hola Chief: me has robao {} € alegre....'.format(num)

'Hola Chief: me has robao 42 € alegre....'

In [127]:
f'Hola Chief: me has robao {num} € alegre....'

'Hola Chief: me has robao 42 € alegre....'

In [128]:
robo = f'Hola Chief: me has robao {num} € alegre....'

In [129]:
robo

'Hola Chief: me has robao 42 € alegre....'

In [131]:
'Hola, el num={}, edad={}, temp={}'.format(num, edad, temp)

'Hola, el num=42, edad=39, temp=a'

In [130]:
f'Hola, el num={num}, edad={edad}, temp={temp}'

'Hola, el num=42, edad=39, temp=a'

In [132]:
num=45.75767

'Hola Chief: me has robao {:.2f} € alegre....'.format(num)

'Hola Chief: me has robao 45.76 € alegre....'

In [133]:
f'Hola, el num={round(3.53253453)}'

'Hola, el num=4'

In [134]:
'Hola Chief: me has robao ' + str(round(num, 2)) + ' € alegre....'

'Hola Chief: me has robao 45.76 € alegre....'

In [136]:
'Hola Chief: me has robao x €, alegre...'.lower()

'hola chief: me has robao x €, alegre...'

In [137]:
'Hola Chief: me has robao x €, alegre...'.upper()

'HOLA CHIEF: ME HAS ROBAO X €, ALEGRE...'

In [138]:
'Hola Chief: me has robao x €, alegre...'.title()

'Hola Chief: Me Has Robao X €, Alegre...'

In [139]:
'Hola Chief: me has robao x €, alegre...'.capitalize()

'Hola chief: me has robao x €, alegre...'

In [140]:
string='Hola Chief: me has robao x €, alegre...'

In [141]:
string[0]

'H'

In [142]:
len(string)

39

In [143]:
string[0] = 'i'

TypeError: 'str' object does not support item assignment

In [145]:
string.replace('H', 'i')    # lo que hay, lo que quiero

'iola Chief: me has robao x €, alegre...'

In [146]:
string.replace(' ', '_')

'Hola_Chief:_me_has_robao_x_€,_alegre...'

In [147]:
string.replace(' ', '_', 1)   # solo 1, el primero

'Hola_Chief: me has robao x €, alegre...'

In [148]:
string

'Hola Chief: me has robao x €, alegre...'

In [150]:
string = string.replace(' ', '_')

string

'Hola_Chief:_me_has_robao_x_€,_alegre...'

In [152]:
# slicing: iterable[start:stop:step]

string[0:5]

'Hola_'

In [153]:
string[0:25:2]

'Hl_he:m_a_oa_'

## Listas

In [154]:
lst = [10, 23, 45, 66, 432, 6546, 75474, 6]

lst2 = ['hola', 'adios', 'hasta luego', 'chato']


print(lst)

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [155]:
type(lst)

list

In [156]:
len(lst)

8

In [157]:
min(lst), max(lst)

(6, 75474)

In [158]:
min(lst2), max(lst2)   # https://elcodigoascii.com.ar/

('adios', 'hola')

In [162]:
6.0 in lst

True

In [160]:
'hola' in lst2

True

In [163]:
sum(lst)

82602

In [164]:
sum(lst2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [165]:
int(lst)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [167]:
str(lst)[0]

'['

In [171]:
lst3 = string.split('_')

In [173]:
'hola adios que tal fue'.split()   # por defecto el espacio vacio

['hola', 'adios', 'que', 'tal', 'fue']

In [174]:
str_list=string.split('o')

str_list

['H', 'la_Chief:_me_has_r', 'ba', '_x_€,_alegre...']

In [175]:
'👺'.join(str_list)

'H👺la_Chief:_me_has_r👺ba👺_x_€,_alegre...'

In [176]:
'o'.join(str_list)

'Hola_Chief:_me_has_robao_x_€,_alegre...'

In [177]:
''.join(str_list)

'Hla_Chief:_me_has_rba_x_€,_alegre...'

In [178]:
# slicing

lst

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [179]:
lst[0]   # el primero, los indices siempre empiezan en 0 y acaban en N-1

10

In [180]:
lst[1]  # el segundo

23

In [181]:
lst[-1]  # el ultimo

6

In [182]:
lst[-2]  # el penultimo

75474

In [185]:
lst[7]

6

In [186]:
# lst[start : stop : step]

In [187]:
lst[1:4]     # lst[start : stop], desde el segundo al cuarto incluidos

[23, 45, 66]

In [194]:
lst[0: 50]

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [195]:
lst[1:10:2]  # lst[start : stop : step]

[23, 66, 6546, 6]

In [198]:
lst[10:1:-1]

[6, 75474, 6546, 432, 66, 45]

In [200]:
lst[::-1]   # es el reverse

[6, 75474, 6546, 432, 66, 45, 23, 10]

In [201]:
lst[::2]  # todo, desde el principio al final de 2 en 2

[10, 45, 432, 75474]

In [207]:
lst[1::2]

[23, 66, 6546, 6]

In [205]:
lst

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [208]:
sorted(lst2, reverse=False)  # reverse=False implica de menor a mayor

['adios', 'chato', 'hasta luego', 'hola']

In [210]:
sorted(lst, reverse=True)   # reverse=True implica de mayor a menor

[75474, 6546, 432, 66, 45, 23, 10, 6]

**tipos de bucles**

In [211]:
lst

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [212]:
# para cada elemento en la lista.....

for e in lst:
    print(e+10)
    
print('Fin del bucle.')

20
33
55
76
442
6556
75484
16
Fin del bucle.

In [215]:
list(range(len(lst)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [216]:
# para cada indice en el rango de la longitud de la lista.....

for i in range(len(lst)):
    print(i, '-------', lst[i])
    
print('Fin del bucle.')

0 ------- 10
1 ------- 23
2 ------- 45
3 ------- 66
4 ------- 432
5 ------- 6546
6 ------- 75474
7 ------- 6
Fin del bucle.

In [221]:
for index in range(len(lst)):
    print(index, '-------', lst[index])
    
print('Fin del bucle.')

0 ------- 10
1 ------- 23
2 ------- 45
3 ------- 66
4 ------- 432
5 ------- 6546
6 ------- 75474
7 ------- 6
Fin del bucle.

In [223]:
for i in range(2, 8, 2):    # start-stop-step
    print(i, '---------', lst[i])
    
print('el bucle acaba aqui')

2 --------- 45
4 --------- 432
6 --------- 75474
el bucle acaba aqui

In [224]:
for i in range(10, 2, -2):    # start-stop-step
    print(i)

10
8
6
4

In [225]:
for index, element in enumerate(lst):
    print(index, '-------', element)

0 ------- 10
1 ------- 23
2 ------- 45
3 ------- 66
4 ------- 432
5 ------- 6546
6 ------- 75474
7 ------- 6

In [226]:
lst4=[2,3,4,5,6,7,8,9]

len(lst4)

8

In [228]:
for i,e in enumerate(lst):
    print(e+lst4[i])

12
26
49
71
438
6553
75482
15

In [240]:
list(enumerate(lst))

[(0, 10), (1, 23), (2, 45), (3, 66), (4, 432), (5, 6546), (6, 75474), (7, 6)]

In [231]:
a, b = 20, 50  # definir 2 variables a la vez

a

20

In [232]:
b

50

In [234]:
a, b = (25, 55)  # unpacking

a

25

In [235]:
b

55

In [241]:
l1=[1,2,3]

l2=['a', 'b', 'c']

In [246]:
list(zip(l1, l2))   # junta las dos listas por orden

[(1, 'a'), (2, 'b'), (3, 'c')]

In [244]:
for num,letra in zip(l1, l2):
    print(num, '----',letra)

1 ---- a
2 ---- b
3 ---- c

In [247]:
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [251]:
# bucle while

a=0   # contador


while a<=10:
    print(f'El valior actual de a es {a}')
    a+=5
    
    
print('Fin del bucle.')

El valior actual de a es 0
El valior actual de a es 5
El valior actual de a es 10
Fin del bucle.

In [254]:
# bucle infinito

while 1:
    
    print('hola')
    
    a+=2
    
    if a>20:
        break

hola

In [256]:
for e in lst:
    print(e)
    if e==45:
        break

10
23
45

In [258]:
for e in lst:
    if e==45:
        continue   # este salta, 
    print(e)

10
23
66
432
6546
75474
6

In [259]:
for e in lst:
    if e==45:
        pass   # no hacer nada, no salta
    print(e)

10
23
45
66
432
6546
75474
6

In [262]:
def funcion():
    pass

**condicionales**

In [263]:
estudiante = 'Pepe 😷'

estudiante[-1]

'😷'

In [264]:
if estudiante[-1] == '😷':
    print('El estudiante puede entrar al campus')
    
elif estudiante[-1] == '🤪':
    print('Chaval vete pa casa...')
    
else:
    print('hola')

El estudiante puede entrar al campus

In [266]:
%%time

if estudiante[-1] == '😷':
    print('El estudiante puede entrar al campus')
    
else:
    pass
    
if estudiante[-1] == '🤪':
    print('Chaval vete pa casa...')
    
else:
    print('hola')

El estudiante puede entrar al campus
hola
CPU times: user 34 µs, sys: 7 µs, total: 41 µs
Wall time: 39.8 µs

In [267]:
%time print(8)

8
CPU times: user 35 µs, sys: 6 µs, total: 41 µs
Wall time: 41 µs

In [271]:
a=-4


if a==0:
    print('Cerito.')
    
elif a>0:
    print('Mayor.')
    
else:
    print('Menor')

Menor

In [272]:
%%time

# secuencia de Fibonacci

a=0
b=1


contador=0

cuantos=10

print(a)
print(b)

while contador<cuantos:
    
    c=a+b
    print(c)
    
    a=b
    b=c
    
    contador+=1
    
print('acabe')

0
1
1
2
3
5
8
13
21
34
55
89
acabe
CPU times: user 313 µs, sys: 128 µs, total: 441 µs
Wall time: 387 µs

In [273]:
%%time

a=0
b=1

cuantos=10

print(a)
print(b)


for _ in range(cuantos):
    
    c=a+b
    
    print(c)
    
    a=b
    b=c
    
print('acabe')

0
1
1
2
3
5
8
13
21
34
55
89
acabe
CPU times: user 376 µs, sys: 115 µs, total: 491 µs
Wall time: 460 µs

**list comprehension**

In [279]:
lst = []

for i in range(10):
    
    lst.append(i)

lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [281]:
lst2 = [i for i in range(10)]

lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [282]:
matriz = []

for _ in range(5):   # eje x, por filas
    
    lst_y = []
    
    for y in range(5):  #eje y, por columnas
        
        lst_y.append(y)
        
    matriz.append(lst_y)
    
    
matriz

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [283]:
y

4

In [284]:
lst_y

[0, 1, 2, 3, 4]

In [287]:
[y for y in range(5)]

[0, 1, 2, 3, 4]

In [286]:
matriz = [[y for y in range(5)] for _ in range(5)]

matriz

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [289]:
lst = []

for i in range(20):
    
    if i%2:   # los impares
        
        lst.append(i)
        
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [290]:
lst = [i for i in range(20) if i%2]

lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [291]:
lst = []

for i in range(5):
    
    for j in range(3):
        
        lst.append(i*j)
        
    
        
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [292]:
lst = [i*j for i in range(5) for j in range(3)]

lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [293]:
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [294]:
lst.pop()

8

In [295]:
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [296]:
lst.pop(0)   # por indice

0

In [297]:
lst

[0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [298]:
lst.remove(0)

In [299]:
lst

[0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [306]:
lst.remove(0)   # por elemento
  
lst

ValueError: list.remove(x): x not in list

In [308]:
lst.sort()

In [309]:
lst

[1, 2, 2, 4, 4, 6]

In [310]:
lst.sort(reverse=True)

lst

[6, 4, 4, 2, 2, 1]

In [313]:
lst[0]=895370923584

In [314]:
lst

[895370923584, 4, 4, 2, 2, 1]

In [315]:
lst.insert(0, 10)   # indice - elemento

In [316]:
lst

[10, 895370923584, 4, 4, 2, 2, 1]

In [317]:
lst.insert(3, 100000)

In [318]:
lst

[10, 895370923584, 4, 100000, 4, 2, 2, 1]

In [319]:
4e2   # notacion cientifica

400.0

In [320]:
4e-4

0.0004

## Tuplas

Inmutables

In [321]:
letras = ('a', 'b', 'c')

letras

('a', 'b', 'c')

In [322]:
type(letras)

tuple

In [323]:
# para cada elemento en la tupla....
for e in letras:
    print(e)

a
b
c

In [326]:
# para cada indice....
for i in range(len(letras)):
    print(i)

0
1
2

In [324]:
letras.append(0)

AttributeError: 'tuple' object has no attribute 'append'

In [325]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [327]:
letras.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [329]:
letras[0]='f'

TypeError: 'tuple' object does not support item assignment

In [331]:
tuple(lst)

(10, 895370923584, 4, 100000, 4, 2, 2, 1)

In [332]:
letras=list(letras)

letras[0]='f'

letras=tuple(letras)

letras

('f', 'b', 'c')

In [333]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [334]:
(i for i in range(10))

## Conjuntos (set)

In [335]:
lst = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,0,344,4,4,4,4,4,0,4,4]

lst[:5]

[1, 1, 1, 1, 1]

In [336]:
set(lst)

{0, 1, 2, 3, 4, 344}

In [337]:
s = set(lst)

s

{0, 1, 2, 3, 4, 344}

In [338]:
type(s)

set

In [339]:
s.add(90)

In [340]:
s

{0, 1, 2, 3, 4, 90, 344}

In [341]:
for e in s:
    print(e)

0
1
2
3
4
344
90

In [342]:
s.remove(0)

In [343]:
s

{1, 2, 3, 4, 90, 344}

In [344]:
set_1=set([1,1,1,2,3,3,3,3,3,3,4,5,5,6,6,6,76,7,78,8,8,8,9,9,9,99,0,0,0,0])

set_2=set([3, 4, 5, 6, 7, 8, 9, 0, 8 , 0, 780, 78,789,786])

In [345]:
set_1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99}

In [346]:
set_2

{0, 3, 4, 5, 6, 7, 8, 9, 78, 780, 786, 789}

In [347]:
set_1.union(set_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [348]:
set_1.intersection(set_2)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [349]:
set_1 - set_2

{1, 2, 76, 99}

In [350]:
set_2 - set_1

{780, 786, 789}

In [351]:
set_1.issubset(set_2)

False

In [352]:
set_1.issuperset(set_2)

False

In [353]:
set_1 | set_2  # union   (| == or)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [354]:
set_1 & set_2  # interseccion  (& == and)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

## Diccionarios

In [355]:
dict()

{}

In [356]:
type({})

dict

In [357]:
dictio = {'key': 'value', 3:'hola', True: [1,2,3]}

dictio

{'key': 'value', 3: 'hola', True: [1, 2, 3]}

In [358]:
type(dictio)

dict

In [359]:
dictio[0]

KeyError: 0

In [360]:
dictio['key']

'value'

In [361]:
dictio[3]

'hola'

In [363]:
dictio['key'] = 'valor'

In [364]:
dictio

{'key': 'valor', 3: 'hola', True: [1, 2, 3]}

In [365]:
dictio['key2'] = 2

In [366]:
dictio

{'key': 'valor', 3: 'hola', True: [1, 2, 3], 'key2': 2}

In [372]:
dictio[10] = 'valor'

In [375]:
dictio.pop('key')

'valor'

In [376]:
dictio

{3: 'hola', True: 'valor', 'key2': 2, 10: 'valor'}

In [377]:
dictio.keys()

dict_keys([3, True, 'key2', 10])

In [378]:
dictio.values()

dict_values(['hola', 'valor', 2, 'valor'])

In [379]:
dictio.items()

dict_items([(3, 'hola'), (True, 'valor'), ('key2', 2), (10, 'valor')])

In [381]:
type(dictio.keys())

dict_keys

In [384]:
list(dictio.keys())

[3, True, 'key2', 10]

In [385]:
for k in dictio.keys():
    print(k)

3
True
key2
10

In [386]:
for v in dictio.values():
    print(v)

hola
valor
2
valor

In [387]:
for k,v in dictio.items():
    print(k, '----', v)

3 ---- hola
True ---- valor
key2 ---- 2
10 ---- valor

In [388]:
dictio[0]

KeyError: 0

In [389]:
dictio.get(0)

In [390]:
dictio.get(0, 1000)

1000

In [392]:
dictio.get(0, 'Esta key no existe cukin, ponte las pilikas')

'Esta key no existe cukin, ponte las pilikas'

In [391]:
dictio.get('key2', 1000)

2

In [394]:
lst1=['a', 'b', 'c']

lst2=[1, 2, 2, 4]

In [395]:
list(zip(lst1, lst2))

[('a', 1), ('b', 2), ('c', 2)]

In [396]:
dict(zip(lst1, lst2))

{'a': 1, 'b': 2, 'c': 2}

In [398]:
{k:v+5 for k,v in zip(lst1, lst2)}

{'a': 6, 'b': 7, 'c': 7}

## Más

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [399]:
a = [1, 2]
b = [1, 2]

In [400]:
a == b

True

In [401]:
a is b

False

In [402]:
id(a)

4427127296

In [403]:
id(b)

4564140608

In [404]:
a=b

In [405]:
a is b

True

In [406]:
id(a)

4564140608

In [407]:
id(b)

4564140608

In [408]:
a.append(8)

a

[1, 2, 8]

In [409]:
b

[1, 2, 8]

In [410]:
a=b[:]    # copiar la lista

a.append(8)

a

[1, 2, 8, 8]

In [411]:
b

[1, 2, 8]

In [412]:
id(a)

4564061056

In [413]:
id(b)

4564140608

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computación