# 3.2 - Funciones, generadores

![funciones](images/funciones.jpg)

Una función es un bloque de código con un nombre asociado, que recibe cero o más argumentos como entrada, sigue una secuencia de sentencias, la cuales ejecuta una operación deseada y devuelve un valor y/o realiza una tarea, este bloque puede ser llamados cuando se necesite.

El uso de funciones es un componente muy importante del paradigma de la programación llamada estructurada, y tiene varias ventajas:
- modularización: permite segmentar un programa complejo en una serie de partes o módulos más simples, facilitando así la programación y el depurado.
- reutilización: permite reutilizar una misma función en distintos programas.

### Tabla contenidos:

+ Funciones propias de python (built-in functions)
+ Funciones custom
* Generadores

#### Funciones propias de python (built-in functions)

https://docs.python.org/3/library/functions.html

Estas funciones están definidas dentro de python. Para usarlas simplemente hay que invocarlas.

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
print('hola')

hola

In [8]:
print('hola', 'adios', sep='---------', end=' el profe es un carapijo')

hola---------adios el profe es un carapijo

In [9]:
type(print)

builtin_function_or_method

In [17]:
var = print(8)

print(var)

8
None

In [18]:
max([1,2,3])

3

In [19]:
type(max)

builtin_function_or_method

In [20]:
type(len)

builtin_function_or_method

In [21]:
var = len([1,2,3])

var

3

#### Funciones custom

Funciones creadas por nosotros con un objetivo. 

**Consejo:** Las funciones realizan acciones, por eso se recomienda que sus nombres sean verbos.


**Estructura:**

```python
def nombre_funcion(argumentos de entrada):
    # los dos puntos y la indentacion implican estar en la funcion
    realiza acciones
    return () # devuelve cierto valor
```

In [22]:
def sumar(a, b):
    
    z = a+b
    
    return z

In [23]:
sumar(3, 5)

8

In [24]:
numero = sumar(4, 9)

numero

13

In [25]:
numero

13

In [26]:
def restar(x, y):
    
    z = x-y
    
    r = z + sumar(3, 4)
    
    return z, r

In [27]:
restar(5, 6)

(-1, 6)

In [28]:
a, b = restar(5, 6)

In [29]:
a

-1

In [30]:
b

6

In [31]:
def sumar_2(a, b, c):
    
    res = []
    
    suma=a+b
    
    m=60
    
    for i in range(c):
        print(i)
        res.append(c**i * suma + m)
        
    return res

In [33]:
sumar_2(2,3,4)

0
1
2
3

[65, 80, 140, 380]

In [34]:
lista = sumar_2(2,3,4)

0
1
2
3

In [35]:
lista

[65, 80, 140, 380]

**Argumentos por defecto**

In [37]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [38]:
def sumar_3(a, b, c=9):  # c=9 es un valor por defecto, a, b son pocionales y c kwargs
    
    return a + b + 1/c

In [39]:
sumar_3(1, 2)

3.111111111111111

In [40]:
sumar_3(1, 2, 3)

3.3333333333333335

In [41]:
sumar_3(1)

TypeError: sumar_3() missing 1 required positional argument: 'b'

In [42]:
sumar_3(1, 0)

1.1111111111111112

In [43]:
sumar_3(c=1, b=0, a=10)

11.0

In [72]:
def preguntar():
    
    nombre = input('Dime tu nombre ')
    
    edad = input('Dime tu edad ')
    
    
    return f'Eres {nombre} y tienes {edad}'

In [73]:
preguntar()

Dime tu nombre Hola
Dime tu edad 10

'Eres Hola y tienes 10'

In [49]:
def preguntar(nombre = input('Dime tu nombre'),  edad = input('Dime tu edad')):
    
    return f'Eres {nombre} y tienes {edad}'

Dime tu nombreYonan
Dime tu edad39

In [50]:
preguntar()

'Eres Yonan y tienes 39'

In [51]:
preguntar(nombre='Pepe', edad=90)

'Eres Pepe y tienes 90'

In [52]:
preguntar()

'Eres Yonan y tienes 39'

In [54]:
def decir(a=input('Nombre')):
    
    return 2

Nombre2

In [55]:
def sumar(a, b):
    return a+b

In [56]:
def restar(a, b):
    return a-b

In [57]:
sumar(8, 9)

17

In [58]:
restar(8, 9)

-1

In [67]:
def restar(a, b):
    z = a-b
    # no tiene return

In [68]:
print(restar(8, 9))

None

In [69]:
z

NameError: name 'z' is not defined

**Argumentos posicionales y argumentos clave-valor (args, kwargs)**

In [74]:
def sumar(a, b):
    return a+b

In [76]:
sumar(1, 2, 3)

TypeError: sumar() takes 2 positional arguments but 3 were given

In [77]:
def sumar(*args):    # N argumentos distintos
    
    print('Args : ', args)
    
    res=0
    
    for e in args:
        
        res+=e
        
    return res

In [78]:
sumar(1, 2)

Args :  (1, 2)

3

In [79]:
sumar(1,2,3,4,5,6,7,8,9)

Args :  (1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [82]:
lst = [1,2,3,4,5,6,7,8,9]


sumar(*lst)

Args :  (1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [86]:
sumar(1,2,3, *[4,5,6])

Args :  (1, 2, 3, 4, 5, 6)

21

El símbolo `*` quiere decir que coja los elementos de uno en uno sea cual sea su número.

In [87]:
def saludar(nombre, lang='es', colega=True):
    
    s=''
    
    if colega:
        s='colega!!!'
        
    if lang=='es':
        print(f'Hola {nombre} {s}')
        
    else:
        print(f'Hello {nombre} buddy!!')

In [89]:
saludar('Ana')

Hola Ana colega!!!

In [90]:
saludar('Ana', 'es', False)

Hola Ana

In [91]:
saludar(['Ana', 'es'])

Hola ['Ana', 'es'] colega!!!

In [92]:
saludar(*['Ana', 'es'])

Hola Ana colega!!!

In [94]:
def saludar_multiple(*args, lang='es', colega=True):
    
    for nombre in args:
        
        saludar(nombre, lang, colega)

In [95]:
saludar_multiple(['Anba', 'Pape', 'Juanita'])

Hola ['Anba', 'Pape', 'Juanita'] colega!!!

In [96]:
saludar_multiple(*['Anba', 'Pape', 'Juanita'])

Hola Anba colega!!!
Hola Pape colega!!!
Hola Juanita colega!!!

In [97]:
nombres=['Ana', 'Pepe', 'Juana', 'Chema', 'Juan', 'Oriana']

nombres

['Ana', 'Pepe', 'Juana', 'Chema', 'Juan', 'Oriana']

In [114]:
config = {'lang': 'en', 'colega': False}

config

{'lang': 'en', 'colega': False}

El símbolo `**` quiere decir que coja los elementos de uno en uno sabiendo que tiene la estructura clave-valor como en un diccionario.

In [115]:
saludar_multiple(*nombres, **config)

Hello Ana buddy!!
Hello Pepe buddy!!
Hello Juana buddy!!
Hello Chema buddy!!
Hello Juan buddy!!
Hello Oriana buddy!!

In [118]:
def func(*args, **kwargs):
    print('Args', args)
    print('Kwargs', kwargs)

In [119]:
func(*[12, 34, 56], **config)

Args (12, 34, 56)
Kwargs {'lang': 'en', 'colega': False}

In [109]:
func([12, 34, 56], config)

Args ([12, 34, 56], {'lang': 'en', 'colega': False})
Kwargs {}

In [110]:
func(*[12, 34], *[13, 56])

Args (12, 34, 13, 56)
Kwargs {}

In [111]:
func(**{'a': 4, 'd': 5}, **{'v': 'hola', 'g': 50})

Args ()
Kwargs {'a': 4, 'd': 5, 'v': 'hola', 'g': 50}

**Alcance (scope)**

In [130]:
z=4 # es una variable global, que la ve todo el codigo

m=1 # es global


print(m)


def sumar(a):
    
    global z, m
    
    # a es una variable local, solo la funcion la ve
    
    m=20  # es local, con global se vuelve global y se sobreescribe
    
    print('valor:', 'm:', m, '------', 'z:', z)
    
    num=a+z
    
    return num


print(m)

1
1

In [127]:
num=sumar(8)

num

valor: m: 20 ------ z: 4

12

In [128]:
print(m)

20

**Callback**

In [131]:
def restar(a):
    
    a=sumar(a)
    
    return 10 - a

In [132]:
restar(8)

valor: m: 20 ------ z: 4

-2

In [133]:
def hola():
    
    def adios():
        
        print('hola')
        
        return 5
    
    return adios()

In [134]:
hola()

hola

5

In [135]:
adios()

NameError: name 'adios' is not defined

In [137]:
a=[1,2,34,45]

a()

TypeError: 'list' object is not callable

**Tipado**

In [138]:
def saludar(nombre: str, lang: str='es', colega: bool=True) -> None:
    
    """
    pep8
    
    Aqui, documentacion y explicaciones
    
    Params:
    + nombre: strin, nombre blablabla
    + lang:------
    + colega:---------
    
    
    +return : None
    
    """
    
    s=''
    
    if colega:
        s='colega!!!!!'
        
    if lang=='es':
        print('Hola {} {}'.format(nombre, s))
        
    else:
        print('Hello {} buddy!!!'.format(nombre))

In [139]:
help(saludar)

Help on function saludar in module __main__:

saludar(nombre: str, lang: str = 'es', colega: bool = True) -> None
    pep8

    Aqui, documentacion y explicaciones

    Params:
    + nombre: strin, nombre blablabla
    + lang:------
    + colega:---------


    +return : None

In [141]:
saludar(10)

Hola 10 colega!!!!!

In [142]:
from typing import List, Union

In [147]:
def saludar(lista: List) -> Union[list, int]:
    return 'hola que tal'

In [148]:
saludar(9)

'hola que tal'

### Generadores


![generador](images/funcion_generador.gif)

In [149]:
tup = (i for i in range(4))

tup

In [150]:
next(tup)

0

In [151]:
next(tup)

1

In [152]:
list(tup)

[2, 3]

In [153]:
list(tup)

[]

In [154]:
next(tup)

StopIteration:

Este comportamiento implica que el valor solo es generado cuando se requiere y luego es borrado de la memoria, aumentando asi el rendimiento.

Veamos como hacer un generador custom:

In [155]:
def saludar(nombre):
    
    yield f'Hola {nombre}'

In [156]:
saludar('Pepe')

In [157]:
a=saludar('Pepe')

a

In [158]:
next(a)

'Hola Pepe'

In [159]:
next(a)

StopIteration:

In [160]:
type(range(2))

range

In [165]:
# range custom


def rang(*args):
    
    
    if len(args)==1:
        start=0
        stop=args[0]
        step=1
        
    elif len(args)==2:
        start=args[0]
        stop=args[1]
        step=1
        
    elif len(args)==3:
        start=args[0]
        stop=args[1]
        step=args[2]
        
        
    else:
        pass
    
    
    
    while start<stop:
        
        yield start
        
        start += step

In [161]:
range(4)

range(0, 4)

In [162]:
range(3, 10)

range(3, 10)

In [163]:
range(3, 10, 5)

range(3, 10, 5)

In [164]:
list(range(4))

[0, 1, 2, 3]

In [166]:
bucle = rang(3, 15, 2)

In [167]:
bucle

In [168]:
next(bucle)

3

In [169]:
next(bucle)

5

In [170]:
next(bucle)

7

In [171]:
numero = next(bucle)

In [172]:
numero

9

In [173]:
next(bucle)

11

In [174]:
numero

9

In [175]:
for i in rang(2, 5):
    print(i)

2
3
4

In [176]:
for i in rang(2, 3, 0.3):
    print(i)

2
2.3
2.5999999999999996
2.8999999999999995

In [177]:
for i in range(2, 3, 0.3):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [178]:
bucle = rang(2, 3, 0.3)

In [179]:
next(bucle)

2

In [180]:
list(bucle)

[2.3, 2.5999999999999996, 2.8999999999999995]

In [181]:
next(bucle)

StopIteration:

**Más**

[Project Euler: Math and programming problems](https://projecteuler.net/)